#Primary settings apply to all files unless overridden below
root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
tab_width = 4
end_of_line = crlf

# VSSPELL: Spell checker settings for all files
vsspell_section_id = 869f688c36354e788f0a0b53ab42cf41

# [VSSpellChecker bug 277](https://github.com/EWSoftware/VSSpellChecker/issues/277)
# VSSPELL: Disable the analyzers until Bug 277 is fixed.
vsspell_code_analyzers_enabled = false
vsspell_ignored_words_869f688c36354e788f0a0b53ab42cf41 = File:.\IgnoredWords.dic

# match VS generated formatting for MSBuild project files
[*.*proj,*.props,*.targets]
indent_style = space
indent_size = 2
tab_width = 2

[*.yml,*.yaml]
indent_style = space
indent_size = 2
tab_width = 2

[*.md]
# mark left margin for split screen preview of markdown files
# requires: https://marketplace.visualstudio.com/items?itemName=PaulHarrington.EditorGuidelinesPreview
guidelines = 92

# Settings for https://marketplace.visualstudio.com/items?itemName=MadsKristensen.MarkdownLint
# Sadly, that is dragged in by https://marketplace.visualstudio.com/items?itemName=MadsKristensen.MarkdownEditor2
# while there is a built-in version that doesn't support mermaid diagrams without all the CoPilot cruft.
#    see: https://developercommunity.visualstudio.com/t/Mermaid-rendering-does-not-work/10968192#T-N10986717
# so the "third party" (not really) one is used.
# The linter is NOT used in this repo as it is not flexible enough and inconsistently complains about perfectly valid markdown as not consistent.
# sadly, the mdlint package doesn't have configuration for the `lines_above` or 'lines_below` parameters so disable the rule (MD022)
#md_blanks_around_headings = false
#md_ul_indent = 4
#md_fenced_code_language = false # fenced "code" may just be text and no language exists
#md_code_fence_style = backtick
#md_emphasis_style = asterisk
#md_strong_style = asterisk

